image: node:20

stages:
  - install
  - prisma
  - test

install_job:
  stage: install
  script:
    - npm ci

prisma_job:
  stage: prisma
  script:
    - npx prisma generate

test_job:
  stage: test
  script:
    - npm test >> test-results.xml
  artifacts:
    reports:
      junit: test-results.xml
  
