image: node:22

stages:
  - build
  - lint
  - test
  - deploy

build_job:
  stage: build
  script:
    - cd Nidhoggr_front
    - npm install --legacy-peer-deps
    - npm install -g @angular/cli
    - ng build
  artifacts:
    paths:
      - Nidhoggr_front/dist/Nidhoggr_front

lint_job:
  stage: lint
  script:
    - cd Nidhoggr_front
    - npm install --legacy-peer-deps
    - npm install @typescript-eslint/parser @typescript-eslint/eslint-plugin
    - npm install -D eslint-formatter-checkstyle
    - npm run lint -- --format checkstyle --output-file lint-report.xml
  artifacts:
    paths:
      - Nidhoggr_front/lint-report.xml
    when: always
  allow_failure: false

