image: node:22

stages:
  - build
  - lint
  - test
  - deploy

build_job:
  stage: build
  script:
    - cd Nidhoggr_front
    - npm ci --legacy-peer-deps
    - npm install -g @angular/cli
    - ng build

lint_job:
  stage: lint
  needs:
    - build_job
  script:
    - cd Nidhoggr_front
    - npm ci --legacy-peer-deps
    - npm install @typescript-eslint/parser @typescript-eslint/eslint-plugin
    - npm install -D eslint-formatter-checkstyle
    - npm run lint -- --format checkstyle --output-file lint-report.xml
  artifacts:
    paths:
      - Nidhoggr_front/lint-report.xml
    when: always
  allow_failure: true

deploy_job:
  stage: deploy
  needs:
    - build_job
    - lint_job
  image: docker:latest

  services:
    - name: docker:dind
      command: ["--tls=false"]

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
    IMAGE_NAME: "$CI_REGISTRY/$CI_PROJECT_PATH"

  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

  script:
    - docker info
    - echo "Image = $IMAGE_NAME"
    - docker build -t "$IMAGE_NAME:latest" -f Nidhoggr_front/dockerfile ./Nidhoggr_front
    - docker push "$IMAGE_NAME:latest"
  only:
    - main
