image: node:18

before_script:
  - cd nidhoggr

stages:
  - install
  - lint
  - build

install_job:
  stage: install
  script:
    - npm install
  artifacts:
    paths:
      - nidhoggr/node_modules/
    expire_in: 1 hour

lint_job:
  stage: lint
  needs:
    - install_job
  script:
    - npm run lint > gl-code-quality-report.json || true
  artifacts:
    when: always
    reports:
      codequality: nidhoggr/gl-code-quality-report.json
    expire_in: 1 week
  allow_failure: true

  
build_job:
  stage: build
  dependencies:
    - install_job
  script:
    - eas build --platform all --profile production --non-interactive
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

