:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #171c22;
}

.layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #171c22;
}

.content {
  flex: 1;
  overflow: hidden;
  background-color: #171c22;
}
