:host {
  display: block;
  width: 100%;
  height: 100%;
}

.personnes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #20272f;
  padding: 2rem;
  
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #2ad783;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 1.125rem;
    color: #ffffff;
    opacity: 0.8;
    margin: 0;
  }
}
