:host {
  display: block;
  width: 100%;
  height: 100%;
}

.accueil-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20272f;
}

.accueil-content {
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: 1.25rem;
    color: #ffffff;
    opacity: 0.8;
    margin: 0;
  }
}